includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - includes/
        - widgets/
        - dynamic-tags/
        - admin/
        - hello-elementor-figma-sync.php
    excludePaths:
        - languages/
        - stubs/
    bootstrapFiles:
        - stubs/wordpress.php
        - stubs/elementor.php
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Call to an undefined method .+::#'
        - '#Constant .+ not found.#'
